//colors

$border-form-color: #e0e0e0;
$primary-color: #eb4d4b;
$contrast-color: #742322;;
$alternative-color: #34495e;
$facebook-color: #3b5998;
$instagram-color: #e95950;
$google-color: #dd4b39;
//Fonts

//$titles: 'Oswald', sans-serif;
$titles: 'Catamaran', sans-serif;
//$text: 'Poppins', sans-serif;
$text: 'Work Sans', sans-serif;


//Responsive

$sm: 600px;
$md: 601px;
$large: 992px;
$x-large: 1200px;

