<div class="bg-header" [ngClass]="{ 'fixed': pageYOffset > 76}">
        <div class="row middle-xs ">
          <div class="col-xs-12 col-sm-12 col-md-2 logo" >
            <span class="hide-on-large-only" id="btn-sidenav-demo"><i class="fas fa-bars"></i></span>
            <img src="./assets/primary-logo.png" [routerLink]="['']" />
            <div class="shop-c hide-on-large-only">
              <app-shopping-cart></app-shopping-cart>
            </div>
        </div>
        <div class="col-xs-4 hide-on-small-only hide-on-med-only" >
            <app-search></app-search>
         
        </div>
        <div class="col-xs-6 without-margin hide-on-small-only hide-on-med-only">
          <div class="row end-xs">
            <div class="col-xs-5 without-margin hide-on-small-only hide-on-med-only">
              <app-shopping-cart [pageYOffset]="pageYOffset"></app-shopping-cart>
            </div>
          </div>
        </div>
      </div>
</div>

<mz-sidenav
  [id]="'sidenav-demo'"
  [collapseButtonId]="'btn-sidenav-demo'">
  <!--<div class="nav-menu-header">-->
    <!--header-->
  <!--</div>-->
  <mz-sidenav-collapsible-content>
    <div class="search-nav">
      <app-search ></app-search>
      <app-advancd-search [idCheck]="'Top'"></app-advancd-search>
    </div>
  </mz-sidenav-collapsible-content>
</mz-sidenav>


