<a (click)="toggleSummary()" class="link animated" [ngClass]="{'shake': itemIsAdd}">
  <span class="quantity" *ngIf="items">{{items.length}}</span>
  <div class="icon"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
  <span>Mi pedido</span>
</a>

<div class="purchase-summary-box animated" *ngIf="showSummary" [ngClass]="{'fadeInRight': showSummary, '' : !showSummary}">
  <div class="load-box" *ngIf="isRequest">
    <app-loader class="mg-t-10 load-personality"></app-loader>
    <p>Estamos procesando el pago, en segundos sera dirigido a la pasarela de pago</p>
  </div>
  <div class="head-purchase">
    <i class="fa fa-times-circle" (click)="toggleSummary()" aria-hidden="true"></i>
    <div class="head-a">
      <h3>Mi pedido</h3>
    </div>
    <div class="head-b">
      <i class="fa fa-map-marker" aria-hidden="true"></i> Envios solo Bogotá
    </div>
  </div>
  <div class="not-content-box" *ngIf="items.length === 0">
    <i class="fa fa-info-circle" aria-hidden="true"></i>
    <p>Aun no añades ningun producto a tu pedido, para hacer uno selecciona la referencia de el producto que buscas y dale click en añadir pedido</p>
  </div>
  <div id="style-4" *ngIf="items.length > 0" class="content-purchase">
    <div class="item-purchase animated" *ngFor="let item of items ; let i = index" [ngClass]="{'fadeOutRight': selectedItemId === item.id}">
      <i (click)="removeItem(item.id)" class="fas fa-trash icono-right"></i>
      <div class="row middle-xs">
        <div class="col-xs-2 text-center box-quantity">
          <app-quantity-control [size]="'small'" [selectQuantity]="item.quantity" (changeValue)="changeValueQuantity($event, i)"></app-quantity-control>
        </div>
        <div class="col-xs-5 info">
          <p>{{item.title}}</p>
          <span>{{item.weight}}</span>
        </div>
        <div class="col-xs-4" style="padding-right: 8px">
          <span>{{item.totalPrice | amountFormatter:'currency'}}</span>
        </div>
      </div>
    </div>
  </div>
  <i class="fas fa-shipping-fast"></i>
  <div  *ngIf="items.length > 0" class="summary">
    <div class="row">
      <div class="col-xs-6 text-left">
        <span> Sub total</span>
      </div>
      <div class="col-xs-6 text-right price-summary">
        {{subTotal | amountFormatter:'currency'}}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 text-left">
        <span> Costo de envió</span>
      </div>
      <div class="col-xs-6 text-right price-summary">
        {{5000 | amountFormatter:'currency'}}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 text-left">
        Total
      </div>
      <div class="col-xs-6 text-right price-summary">
        {{total | amountFormatter:'currency'}}
      </div>
    </div>
  </div>
  <div class="box-button-summary">
    <div class="button-summary" >
      <span class="text"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Realizar pedido</span>
      <span class="total-box">{{total | amountFormatter:'currency'}}</span>
    </div>
  </div>

</div>
